:root {
  --radius-rounded: 999px;
  --spacing-2xs: 8px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --text-size-m: 18px;
  --text-size-l: 24px;
  --interactive-idle-primary: #2d2d2d;
  --interactive-hover-primary: #565656;
  --interactive-idle-primary-3: #ffffff;
  --interactive-idle-secondary-2: #2d2d2d;
  --interactive-hover-secondary: #2d2d2d;
  --interactive-idle-tertiary-2: #000000;
  --interactive-idle-shadow: rgba(29, 31, 31, 0.19);
  --label-hover-secondary: #d8d8d8;
}
